@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

body {
    cursor: none;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: hsla(210, 100%, 50%, 1);
    z-index: 2;
}

.cursor-outline {
    width: 40px;
    height: 40px;
    background-color: hsla(190, 100%, 50%, 1);
    z-index: 1;
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
}